/*.ul-ac {
  top: 64px !important;
}*/
.dimg{display: inline-block;vertical-align: top;height: 60px;width: 40px;margin-left:3px;}
.ddes{display: inline-block;font-size: 10px;margin-left:3px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap; }
.desc{display: block;font-size: 10px;}
.judul{font-size: 12px;font-weight: bold;text-decoration: none;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;}
.judul:hover{
  color: #02b9f1;
  text-decoration: none;
}
.container-mov-sug{
  width:249px;position: absolute;left: 92px;top:50px;
}
.mov-search{
  width:249px;height: 50px;position: absolute;left: 92px;top:0; 
}
.list-mov-sug{
  margin-bottom: 3px;display: block;
}
.list-mov-sug:hover{
  background-color:#eff1f3;;
}

.dimg-mobile{display: inline-block;vertical-align: top;height: 60px;width: 40px;margin-left:3px;}
.ddes-mobile{display: inline-block;font-size: 10px;margin-left:3px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap; }
.desc-mobile{display: block;font-size: 10px;}
.judul-mobile{font-size: 12px;font-weight: bold;text-decoration: none;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;}
.judul-mobile:hover{
  color: #02b9f1;
  text-decoration: none;
}
.container-mov-sug-mobile{
  width:249px;position: absolute;left: 92px;top:50px;
}
.mov-search-mobile{
  width:249px;height: 50px;position: absolute;left: 92px;top:0; 
}
.list-mov-sug-mobile{
  margin-bottom: 3px;display: block;
}
.list-mov-sug-mobile:hover{
  background-color:#eff1f3;;
}

@media (min-width: 992px) {
  .ul-ac {
    top: 66px !important;
  }
}

@media (max-width: 992px) {
  .ul-ac {
    top: 285px !important;
    width: 100% !important;
    left: 0 !important;
  }
  .container-mov-sug{
    width:100% !important;position: absolute;top:50px;
  }
}