
.share-btn{
  position: relative;
  height: 50px;
}
.fa {
  position: absolute;
      padding: 13px;
    font-size: 15px !important;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    transition: all 0.4s;
}

.fa:hover {
   opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white !important;
}
.fa-facebook:hover {
  text-decoration: none !important;
  color: white !important;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-line {
  left: 50px;
  background-image: url('https://store-images.s-microsoft.com/image/apps.42591.9007199266243461.9ea382af-96b4-4a50-847d-79395c8d2b50.de64fac8-43cc-46ef-b2a0-161cb21eaedb?mode=crop&q=90&h=200&w=200&format=jpg&background=%2320C92F');
    background-size: cover;
    background-color: #01c200;
}

.fa-google {
  left: 100px;
  background: #dd4b39;
  color: white;
}
.fa-google:hover {
  text-decoration: none !important;
  color: white !important;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-whatsapp {
  /*background-image: url('http://files.softicons.com/download/android-icons/flat-icons-by-martz90/png/512x512/whatsapp.png');*/
  /*background-size: cover;*/
  left: 150px;
  color: white;
  background-color: #01c200;
  font-size: 25px !important;
  padding: 8px !important;

}
.fa-whatsapp:hover{
  opacity: 0.8;
  text-decoration: none !important;
  color: grey !important;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}